<h1> all cycle counts </h1>

<% @cycle_counts.each do |cycle_count| %>
 <p>
  <%= link_to cycle_count.id, cycle_count_path(cycle_count) %>
  <%= cycle_count.updated_at %>
 </p>
<% end %>

<%= link_to "home", root_path %>
