<div class="background" style="background-image: url(https://res.cloudinary.com/dgb8tgxge/image/upload/e_art:al_dente,o_70/v1633054283/Warehouse_v5g6tp.jpg);">
  <div class="cycle-count">
    <%= simple_form_for(@cycle_count) do |f| %>
      <%= f.submit "begin new cycle count", class: "button" %>
    <% end %>
  </div>


