<div class="background" style="background-image: url(https://res.cloudinary.com/dgb8tgxge/image/upload/e_art:al_dente,o_70/v1633054283/Warehouse_v5g6tp.jpg);">


  <div class="banner">
    <div class="container-md d-flex justify-content-left">
      <div class="flex-column justify-content-center">
        <h1>welcome to the inventory tracker</h1>
        <p>begin by selecting an action above</p>
      </div>
    </div>

    <div class="signature">
      <p>
        built by rhaasti <a target="_blank" rel="noopener noreferrer" href="https://github.com/rhaasti"> <i class="fab fa-github"></i></a>
      </p>
    </div>
  </div>

  </div>



