<h2> add items to your cycle count </h2>

<%= simple_form_for [@cycle_count, @item_cycle_count] do |f| %>
  <%= f.association :item, collection: Item.all.sort_by { |item| item.name }, label: "item name"%>
  <%= f.input :item_quantity, label: "quantity" %>
  <%= f.button :button, "add item" %>
<% end %>



<!-- an idea for this page, is to display at the top all of the available items to
count. as the user selects an item and submits it, the item 'moves' from the list of
all available items and down into their 'counted' item collection. this will allow
the user to clearly see which items they haven't counted, and will provide some feedback
to the user while they are creating their cycle count. -->


<!-- this page also needs to show how to count each item, ie 'box', 'each', 'roll' etc .. -->
