<h3> all vendors </h3>

<% @vendors.each do |vendor| %>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><%= link_to vendor.name, vendor_path(vendor) %> </li>
</ul>
<% end %>

<%= link_to "home", root_path %>
