<div class="background" style="background-image: url(https://res.cloudinary.com/dgb8tgxge/image/upload/e_art:al_dente,o_70/v1633054283/Warehouse_v5g6tp.jpg);">

<h3> vendor detail | <%= @vendor.name %> </h3>

<div class="vendor-container">
  <div class="vendor-category"> <%= @vendor.name %>'s items: </div>
      <div class="container d-flex justify-content-end">
        <div class="row" style="margin-top:-50px;">
          <% @vendor.items.each do |item| %>
            <div class="flex-column">
              <button type="button" class="btn btn-outline-dark btn-lg"> <%= link_to item.name, item_path(item), :class => "vendor-link" %> </button>
          <% end %>
              </div>
        </div>
      </div>
</div>


