<h1> all items </h1>

<% @items.each do |item| %>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><%= link_to item.name, item_path(item) %>
  | <%= link_to item.vendor.name, vendor_path(item.vendor) %>
  </li>
</ul>
<% end %>

