.banner {
  position: fixed;
  padding-top: 20%;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.banner .signature p {
  font-size: 20px;
  font-weight: bold;
  padding-left: 92%;
  padding-top: 18%;
}

.banner a {
  color: inherit;
}
