.navbar {
  font-family: monospace;
    @media(min-width: 544px) {
      font-size: 10px
    }
    @media(min-width: 1335px) {
    font-size: 13px
  }
    @media(min-width: 1440px) {
    font-size: 13px
  }
    @media(min-width: 1920px) {
    font-size: 15px
  }
}

.navbar .user {
  font-family: monospace;
  color:white;
  padding-right: 12px;
  max-width: 200px;
}




