@import "bootstrap/scss/bootstrap";
@import "components/index";
@import "font-awesome";
@import "items";
@import "cycle_counts";
@import "vendors";
@import "users";


* {
  font-family: monospace;
 }

input {
        &:-webkit-autofill::first-line,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        font-family: monospace !important;
      }
  }

.notice {
  font-family: monospace;
  display: flex;
  justify-content: center;
}

.alert {
  font-family: monospace;
  display: flex;
  justify-content: center;
}

