@import "bootstrap/scss/bootstrap";
@import "components/index";
@import "font-awesome";

* {
  font-family: monospace;
 }

input {
        &:-webkit-autofill::first-line,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        font-family: monospace !important;
      }
  }

.notice {
  font-family: monospace;
  display: flex;
  justify-content: center;
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

