// Place all the styles related to the CycleCounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  padding-bottom: 25px;
}
.cycle-count {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-weight: bold;
  font-size: 24px;
  position: fixed;
  padding-top: 20%;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

h3 {
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.card {
  box-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.button {
  color: black;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 3px rgba(0,0,0,1);
}

