// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table {
  color: black;
  font-size: 15px;
}

h3 {
  color: black !important;
}

.alt-h2 h2 {
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

td {
  cursor: pointer;
}

.hint {
  cursor: help;
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.label {
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.collection {
  width: 230px;
}

.container {
  padding-top: 60px;
}

.sign-up a {
  text-shadow: none;
}

.alert {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.history {
  display: flex;
  justify-content: center;
  font-family: monospace;
  @media(min-width: 0px) { //between 0px and 375px
    margin-top: 55px;
  }
  @media(min-width: 375px) { //between 375px and 820px
    margin-top: 55px;
  }
  @media(min-width: 820px) { //between 820px and 992px
    margin-top: 200px;
  }
  @media(min-width: 992px) { //between 992px and 1245px
    margin-top: 200px;
  }
  @media(min-width: 1245px) { //between 1245 and 1440px
    margin-top: 200px;
  }
  @media(min-width: 1440px) { //between 1440px and 1920px
    margin-top: 200px;
  }
  @media(min-width: 1920px) {
    margin-top: 200px;
  }
}

.item-category {
  font-family: monospace;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 13px;
  background-color: white;
  color: black;
}

.item-info {
  font-family: monospace;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 13px;
  background-color: #343a40;
  color: white;
}

.item-show-responsive {
  @media(min-width: 0px) { //between 0px and 375px
    max-width: 375px;
    margin-top: -85px;
  }
  @media(min-width: 375px) { //between 375px and 820px
    max-width: 375px;
    margin-top: -85px;
  }
  @media(min-width: 820px) { //between 820px and 992px
    position: absolute;
    max-width: 400px;
    margin-top: -220px;
    margin-left: 50%;
  }
  @media(min-width: 992px) { //between 992px and 1245px
    max-width: 450px;
    margin-top: -335px;
  }
  @media(min-width: 1245px) { //between 1245 and 1440px
    max-width: 600px;
  }
  @media(min-width: 1440px) { //between 1440px and 1920px
    max-width: 750px;
    margin-top: -330px;
  }
  @media(min-width: 1920px) {
    max-width: 800px;
    margin-top: -330px;
  }
}

.item-show-responsive-top {
  @media(min-width: 0px) { //between 0px and 375px
    max-width: 375px;
    margin-top: -10px;
  }
  @media(min-width: 375px) { //between 375px and 820px
    max-width: 375px;
    margin-top: -10px;
  }
  @media(min-width: 820px) { //between 820px and 992px
    max-width: 400px;
    margin-left: 10%;
    margin-top: 80px;
  }
  @media(min-width: 992px) { //between 992px and 1245px
    max-width: 450px;
    margin-left: 10%;
    margin-bottom: 110px;
  }
  @media(min-width: 1245px) { //between 1245 and 1440px
    max-width: 600px;
    margin-left: 10%;
  }
  @media(min-width: 1440px) { //between 1440px and 1920px
    max-width: 750px;
    margin-left: 10%;
    margin-top: 80px;
  }
  @media(min-width: 1920px) {
    max-width: 800px;
    margin-left: 10%;
    margin-top: 80px;
  }
}

.item-show-responsive-bottom {
  @media(min-width: 0px) { //between 0px and 375px
    max-width: 375px;
    margin-top: -85px;
  }
  @media(min-width: 375px) { //between 375px and 820px
    max-width: 375px;
    margin-top: -85px;
  }
  @media(min-width: 820px) { //between 820px and 992px
    position: absolute;
    max-width: 400px;
    margin-left: 10%;
    margin-top: -90px;
  }
  @media(min-width: 992px) { //between 992px and 1245px
    position: absolute;
    max-width: 450px;
    margin-left: 10%;
    margin-top: -200px;
  }
  @media(min-width: 1245px) { //between 1245 and 1440px
    position: absolute;
    max-width: 600px;
    margin-left: 10%;
    margin-top: -200px;
  }
  @media(min-width: 1440px) { //between 1440px and 1920px
    position: absolute;
    max-width: 750px;
    margin-left: 10%;
    margin-top: -200px;
  }
  @media(min-width: 1920px) {
    position: absolute;
    max-width: 800px;
    margin-left: 10%;
    margin-top: -200px;
  }
}



