// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table {
  color: black;
}

h3 {
  color: black !important;
}

.alt-h2 h2 {
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

td {
  cursor: pointer;
}

.history {
  font-family: monospace;
  margin-top: 100px;
  margin-left: 500px;
}

.item-category {
  font-family: monospace;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 13px;
  background-color: white;
  color: black;
}

.item-info {
  font-family: monospace;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 13px;
  background-color: #343a40;
  color: white;
}
